body{
	background-image: url(../img/background.jpeg);
	height: auto;
}
body, html{
	height: 100%;
}
.container{
	height: auto;
}
.brand{
	font-size: 40px;
	line-height: 1.5em;
}
.address-bar{
	font-size: 15px;
}

#carousel-example-generic {
	height: 350px;
}



.carousel-inner a{
	font-size: 70px;
	position: relative;
	display: inline-block;
	margin-top: 10%;
	text-decoration: none;
}
footer{
	height: 100px;
}
@media screen and (max-width:768px) {
	.carousel-inner a{
	font-size: 30px;
	margin-top: 150px;
	}
}